{
  "openapi": "3.1.0",
  "info": {
    "title": "forge-site agent surface",
    "version": "2.0.0",
    "x-gogol-content-hash": "91cf67bf44522ff10a575154faf77bb64f236d23dd4191718a98669d7838f8d3"
  },
  "servers": [
    {
      "url": "https://forge.warpgogol.com"
    }
  ],
  "paths": {
    "/api/agent/v1/company.json": {
      "get": {
        "operationId": "knowledge.company.get",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "description": "company knowledge envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/knowledge-company"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/v1/contact.json": {
      "get": {
        "operationId": "knowledge.contact.get",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "description": "contact knowledge envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/knowledge-contact"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/v1/legal.json": {
      "get": {
        "operationId": "knowledge.legal.get",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "description": "legal knowledge envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/knowledge-legal"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/v1/location.json": {
      "get": {
        "operationId": "knowledge.location.get",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "description": "location knowledge envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/knowledge-location"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/search": {
      "get": {
        "operationId": "search.query",
        "summary": "Semantic search over site content",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/search-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query"
          },
          "503": {
            "description": "Search index not available"
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 1000
            },
            "description": "Natural language search query"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en"
              ]
            },
            "description": "Filter by language"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "page",
                "knowledge",
                "faq",
                "prose"
              ]
            },
            "description": "Filter by content type"
          },
          {
            "name": "topK",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5,
              "maximum": 20
            },
            "description": "Number of results to return"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "knowledge-company": {
        "type": "object",
        "required": [
          "schema",
          "site",
          "baseUrl",
          "languages",
          "contentHash",
          "data"
        ],
        "properties": {
          "schema": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "contentHash": {
            "type": "string"
          },
          "freshness": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "description": "Per-language payload; shape varies by domain."
          }
        }
      },
      "knowledge-contact": {
        "type": "object",
        "required": [
          "schema",
          "site",
          "baseUrl",
          "languages",
          "contentHash",
          "data"
        ],
        "properties": {
          "schema": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "contentHash": {
            "type": "string"
          },
          "freshness": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "description": "Per-language payload; shape varies by domain."
          }
        }
      },
      "knowledge-legal": {
        "type": "object",
        "required": [
          "schema",
          "site",
          "baseUrl",
          "languages",
          "contentHash",
          "data"
        ],
        "properties": {
          "schema": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "contentHash": {
            "type": "string"
          },
          "freshness": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "description": "Per-language payload; shape varies by domain."
          }
        }
      },
      "knowledge-location": {
        "type": "object",
        "required": [
          "schema",
          "site",
          "baseUrl",
          "languages",
          "contentHash",
          "data"
        ],
        "properties": {
          "schema": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "contentHash": {
            "type": "string"
          },
          "freshness": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "description": "Per-language payload; shape varies by domain."
          }
        }
      },
      "problem-details": {
        "type": "object",
        "required": [
          "type",
          "title",
          "status",
          "code",
          "retryable"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "invalid-json",
              "schema-violation",
              "unknown-capability",
              "payload-too-large",
              "rate-limited",
              "dispatch-failed",
              "idempotency-key-reuse"
            ]
          },
          "retryable": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "schemaRef": {
            "type": "string"
          },
          "retryAfterSeconds": {
            "type": "integer"
          }
        }
      },
      "search-response": {
        "type": "object",
        "required": [
          "query",
          "results",
          "tookMs"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "title",
                "canonicalUrl",
                "updatedAt",
                "lang",
                "type",
                "score",
                "text"
              ],
              "properties": {
                "title": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "canonicalUrl": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "lang": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "page",
                    "knowledge",
                    "faq",
                    "prose"
                  ]
                },
                "score": {
                  "type": "number"
                },
                "text": {
                  "type": "string"
                }
              }
            }
          },
          "tookMs": {
            "type": "number"
          }
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://forge.warpgogol.com/llms.txt",
    "description": "LLM-oriented text surface"
  },
  "x-gogol-mcp": {
    "url": "/api/agent/mcp",
    "protocolVersion": "2026-07-28"
  }
}
