{
  "openapi": "3.1.0",
  "info": {
    "title": "forge-site agent surface",
    "version": "2.0.0",
    "x-gogol-content-hash": "c11edf2639dd7ba4ad1712af5d431d0e3fc49356563d6b8773efb423c02e8bb9"
  },
  "servers": [
    {
      "url": "https://forge.warpgogol.com"
    }
  ],
  "paths": {
    "/api/agent/v1/company.json": {
      "get": {
        "operationId": "knowledge.company.get",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "description": "company knowledge envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/knowledge-company"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/v1/contact.json": {
      "get": {
        "operationId": "knowledge.contact.get",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "description": "contact knowledge envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/knowledge-contact"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/v1/legal.json": {
      "get": {
        "operationId": "knowledge.legal.get",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "description": "legal knowledge envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/knowledge-legal"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/v1/location.json": {
      "get": {
        "operationId": "knowledge.location.get",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "description": "location knowledge envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/knowledge-location"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "knowledge-company": {
        "type": "object",
        "required": [
          "schema",
          "site",
          "baseUrl",
          "languages",
          "contentHash",
          "data"
        ],
        "properties": {
          "schema": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "contentHash": {
            "type": "string"
          },
          "freshness": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "description": "Per-language payload; shape varies by domain."
          }
        }
      },
      "knowledge-contact": {
        "type": "object",
        "required": [
          "schema",
          "site",
          "baseUrl",
          "languages",
          "contentHash",
          "data"
        ],
        "properties": {
          "schema": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "contentHash": {
            "type": "string"
          },
          "freshness": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "description": "Per-language payload; shape varies by domain."
          }
        }
      },
      "knowledge-legal": {
        "type": "object",
        "required": [
          "schema",
          "site",
          "baseUrl",
          "languages",
          "contentHash",
          "data"
        ],
        "properties": {
          "schema": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "contentHash": {
            "type": "string"
          },
          "freshness": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "description": "Per-language payload; shape varies by domain."
          }
        }
      },
      "knowledge-location": {
        "type": "object",
        "required": [
          "schema",
          "site",
          "baseUrl",
          "languages",
          "contentHash",
          "data"
        ],
        "properties": {
          "schema": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "contentHash": {
            "type": "string"
          },
          "freshness": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "description": "Per-language payload; shape varies by domain."
          }
        }
      },
      "problem-details": {
        "type": "object",
        "required": [
          "type",
          "title",
          "status",
          "code",
          "retryable"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "invalid-json",
              "schema-violation",
              "unknown-capability",
              "payload-too-large",
              "rate-limited",
              "dispatch-failed",
              "idempotency-key-reuse"
            ]
          },
          "retryable": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "schemaRef": {
            "type": "string"
          },
          "retryAfterSeconds": {
            "type": "integer"
          }
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://forge.warpgogol.com/llms.txt",
    "description": "LLM-oriented text surface"
  }
}
