{
  "openapi": "3.1.0",
  "info": {
    "title": "forge-warpgogol agent surface",
    "version": "1.1.0",
    "x-gogol-content-hash": "fc7de8a9300b0f0b7e594fffb330d00481715908a979af981ae3e0c02619e7b9"
  },
  "servers": [
    {
      "url": "https://forge.warpgogol.com"
    }
  ],
  "paths": {
    "/api/agent/v1/company.json": {
      "get": {
        "operationId": "knowledge.company.get",
        "tags": [
          "knowledge"
        ],
        "responses": {
          "200": {
            "description": "company knowledge envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/knowledge-company"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/search": {
      "get": {
        "operationId": "search.query",
        "summary": "Semantic search over site content",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/search-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query"
          },
          "503": {
            "description": "Search index not available"
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 1000
            },
            "description": "Natural language search query"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en"
              ]
            },
            "description": "Filter by language"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "page",
                "knowledge",
                "faq",
                "prose"
              ]
            },
            "description": "Filter by content type"
          },
          {
            "name": "topK",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5,
              "maximum": 20
            },
            "description": "Number of results to return"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "knowledge-company": {
        "type": "object",
        "required": [
          "schema",
          "site",
          "baseUrl",
          "languages",
          "contentHash",
          "data"
        ],
        "properties": {
          "schema": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "languages": {
            "type": "object"
          },
          "contentHash": {
            "type": "string"
          },
          "freshness": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "description": "Per-language payload; shape varies by domain."
          }
        }
      },
      "search-response": {
        "type": "object",
        "required": [
          "query",
          "results",
          "tookMs"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "chunk": {
                  "type": "object"
                },
                "score": {
                  "type": "number"
                }
              }
            }
          },
          "tookMs": {
            "type": "number"
          }
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://forge.warpgogol.com/llms.txt",
    "description": "LLM-oriented text surface"
  },
  "x-gogol-mcp": {
    "url": "/api/agent/mcp",
    "protocolVersion": "2025-06-18"
  }
}
